
/* 22C-2 */
.div1
{
    background-color: blue;
    color: white;
    /* 24D */
    border: 2px solid black;
    /* 24E */
    padding: 10px;
    width: 100%;
    /* 30C */
    box-shadow: 10px 10px 10px red;
    /* 30D */
    background: linear-gradient(to right, red , green);
    
}

/* 22C-4 */
div > p
{
    background-color: black;
    color: red;
}

/* 22C-3 */
#quote
{
    quotes: "//" "//";
}

*
{
    /* 24F */
    box-sizing: border-box;
}



.box-sizing-parent
{
    width: 100%;
    border: 10px solid green;
    background-image: url("https://img00.deviantart.net/8e1a/i/2011/351/5/d/wolf_howling_at_the_moon_by_joaanadarc-d4jcy79.jpg");
    height: 1000px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.box-sizing-child
{
    width: 50%;
    border: 5px solid red;
    /* 25D */
    float: left;
    height: 100%;
    color: white;
    font-size: 80px;
    
}

.child1
{
    /* 30E */
    text-shadow: 5px 5px 5px red;
}

article
{

    background-color: lightcoral;
    width: 20%;
    /* 28E */
    transform: rotate(40deg);
    /* float: right; */
    margin: auto;
    /* 28D */
    transition: width 2s;
    transition-timing-function: ease;
    animation-name: colorChange;
    animation-duration: 10s;
}

/* 28C */
@keyframes colorChange
{
    from {background-color: lightcoral;}
    to {background-color: yellow;}
}

article:hover
{
    transform: rotate(0deg);
    width: 30%;
}

section
{
    background-color: orange;
    width: 100%;
    /* 25F */
    display: flex;
    /* 23F */
    
}

.bythebaby
{
    /* 23D-1 */
    font-weight: bold;
    /* 23D-2 */
    color: red;
    /* 23D-3 */
    font-size: 26px;
    /* 23E */
    background-color: yellow; 
    
}

footer
{
    /* 24C */
    margin-top: 10px;
    background-color: grey;
    width: 90vw;
}

.position
{
    background-color: black;
    color: white;    
}

/* 22C-5 */
div + p
{
    /* 25C-2 */
    position: absolute;
    left: 10px;
    top: 0;
}

.position2
{
    /* 25C-1 */
    position: relative;
    left: 1000px;
    width: 20%;
}

/* 22C-1 */
#position3
{
    /* 25C-3 */
    position: fixed;
    left: 50%;
    bottom: 50%;
}